body {
	width: 50%;
	margin: auto;
	text-align: center;
}
.slot {
	margin: auto;
	
	font-size: 5em;
	text-align: center;
}

.slot img {
	width: 120px;
	height: 120px;	
}
button {
	margin: 10px;
}
.tableContainer {
	width: 600px;
	margin: auto;
}
.table {
	width: 300px;
	margin: auto;
	text-align: center;
}
.table1 {
	float: left;
}
.table2 {
	margin-top: 70px; 
	float: right;
}
th{
	text-align: center;
}
.table tbody tr td{
	vertical-align: middle;
}